<main class="wrapper">
    <form>
        <div class="px-3 d-flex flex-column form-items-container">
         
            <label class="pb-3" for="sender-email">
                <p>Name</p>
                <input class="form-control" type="email" name="sender-email">
            </label>
            
            <label class="pb-3" for="sender-email">
                <p>Surname</p>
                <input class="form-control" type="email" name="sender-email">
            </label>
    
            <label class="pb-3" for="sender-email">
                <p>Your e-mail</p>
                <input class="form-control" type="email" name="sender-email">
            </label>
    
            <!-- <label for="message">
                <p>Enter your message</p>
                <input class="e-mail-message-input"type="text" name="message">
            </label> -->
            
            <textarea class="mb-3" name="comment" form="usrform" placeholder="Enter text here..."></textarea>

            <button type="submit">Wyślij e-mail</button>
        </div>
    </form>
</main>

