<main class="wrapper">
    <form>
        <fieldset>
            <label for="sender-email">
                <p>Name</p>
                <input type="email" name="sender-email">
            </label>
            
            <label for="sender-email">
                <p>Surname</p>
                <input type="email" name="sender-email">
            </label>
        </fieldset>

        <label for="sender-email">
            <p>Your e-mail</p>
            <input type="email" name="sender-email">
        </label>

        <label for="message">
            <p>Enter your message</p>
            <input type="text" name="message">
        </label>

        <button type="submit">Wyślij e-mail</button>
    </form>
</main>

